/* Just a div containing everything */
#pageHolder {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("arcade-background.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  color: black;
}

/* Contains the name input screen seen first when opening website (first thing you see) */
#nameInputContainer {
  position: absolute;
  background: rgba(0, 0, 0, 0.25);
  width: 100vw;
  height: 100vh;
}

#nameInput {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  background: #35cc38;
  border-radius: 1em;
  box-shadow: 0 0 5px #ff00ee;
  height: 175px;
  width: 450px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* align-content: center; */
}

#gameContainer {
  height: 500px;
  width: 500px;
  margin: auto;
  background:#000;
  display: grid;
  grid-template: repeat(12, 1fr) / repeat(12, 1fr);
  box-shadow: 0px 0px 15px #ff00ee;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.gameSquare {
  margin: 2px;
  box-sizing: border-box;
}

.active {
  background:#53C2D6;
  box-shadow: 0px 0px 5px black;
}

.food {
  background: #faf20c;
  border-radius: 50%;
  box-shadow: 0px 0px 5px black;
}

/* The startScreenContainer and startButton cover the game before playing */
.startScreenContainer {
  position: absolute;
  background: rgba(0, 0, 0, 0.25);
  width: 100%;
  height: 100%;
}

.startButton {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  background: #faf20c;;
  padding: 10px;
  font-size: 3em;
  border-radius: 1em;
  box-shadow: 0 0 5px #000;
  text-align: center;
}

#headerAndLeaderboard{
  height: 600px;
  width: 300px;
  margin: auto;
  position: absolute;
  top: 50%;
  left: 85%;
  transform: translateX(-50%) translateY(-50%);
}

#pageHeader{
  width: 100%;
  height: 25%;
  position: absolute;
  top: 0%;
  left: 0%;
  background: #ff00ee;
  box-shadow: 0px 0px 15px #ff00ee;

}

#leaderboardContainer{
  height: 70%;
  width: 100%;
  margin: auto;
  background: #35cc38;
  display: grid;
  box-shadow: 0px 0px 15px #ff00ee;
  grid-template: repeat(12, 1fr) / repeat(12, 1fr);
  position: absolute;
  bottom: 0%;
  left: 0%;
  color:black;
  white-space: nowrap;
}
